#btns-row {
    display: flex;
    flex-direction: row;
}

button {
    display: block;
    margin: auto;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: rgb(225, 179, 179);
    color: rgb(72, 65, 65);
    width: 400px;
    font-size: xx-large;
    border-width: 0px;
    margin-bottom: 25px;
    margin-left: 10px;
}

#btn-hover:hover {
    background-color: rgb(179, 160, 160);
}

#enter-btn {
    background-color: rgb(216, 137, 123);
}

#enter-btn:hover {
    background-color: rgb(179, 160, 160);
}

#delete-btn {
    background-color: rgb(216, 137, 123);
}

#delete-btn:hover {
    background-color: rgb(179, 160, 160);
}

.operator-btn {
    background-color: rgb(225, 151, 135)
}

#display {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: antiquewhite;
    width: 90%;
    height: 50px;
    overflow: auto;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}