#btns-row {
    display: flex;
    flex-direction: row;
}

button {
    display: block;
    margin: auto;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: rgb(225, 179, 179);
    color: rgb(72, 65, 65);
    width: 400px;
    font-size: xx-large;
    border-width: 0px;
    margin-bottom: 25px;
    margin-left: 10px;
}

button:hover {
    background-color: rgb(164, 111, 111);
    border-color: rgb(150, 113, 113);
    border-width: 5px;
}

#enter-btn {
    background-color: rgb(131, 255, 127);
}

#delete-btn {
    background-color: rgb(211, 66, 66);
}

#display {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: antiquewhite;
    width: 90%;
    height: 50px;
}